* {
   background-color: ghostwhite;;
}
.page {
   margin: 20px 200px 20px 200px;
   border: 0.5px solid black;
   border-radius: 20px;
   padding-left: 40px;
   padding-right: 40px;
}
.page__title {
   font-size: 28px;
   text-align: center;
}
.page__subtitle {
   font-size: 20px;
   text-decoration: none;
}
.page__name__dev {
   width: inherit;
   text-align: right;
   font-size: 20px;
   font-weight: 600;
}
.page__paragraph__title {
   font-size: 18px;
   text-decoration: underline;
}
.page__menu {
   padding: 0;
   margin: 0;
}
.page__menu__buttons {
   font-size: 18px;
   display: flex;
   margin: 0px;
   padding: 0px;
   border-radius: 15px;
}
.page__menu__buttons__button {
   margin-left: 10px;
   padding: 10px;
   list-style: none;
   border: black 1px solid;
   border-radius: 10px;
   text-decoration: none;
   color: black;
}
.page__content {
   font-size: 18px;
   text-align: justify;
}
.page__content_subtitle {
   text-decoration: none;
}
 
 ol {
    font-size: 18px;
    margin: 0;
    margin-left: 15px;
    padding: 0;
 }
 ol > ul > li {
    margin: 0;
    margin-top: 10px;
    margin-left: -30px;
    padding: 0;    
    text-align: justify;
 }